<!DOCTYPE html>
<html data-wf-page="666001600530be8dd46480dc" data-wf-site="666001600530be8dd46480e1">
	<head>
	</head>
	<body class="body">
		<section id="service" class="section">
			<div class="tour-packege-section-shadow"></div>
			<div class="w-layout-blockcontainer container w-container">
			<h2 data-w-id="cd0d4787-a4a1-3ffa-d790-98554f6f16a2" style="opacity:0" class="h2-heading heading-center">Иди куда угодно <span class="h2-span">с нашими последними предложениями туров</span>
			</h2>
				<div data-current="Tab 1" data-easing="ease-in" data-duration-in="300" data-duration-out="100" class="offer-tab w-tabs">
					<div class="tabs-menu w-tab-menu">
						<a data-w-tab="Tab 1" data-w-id="30998f4f-8f0d-2e52-0af1-7fa6cf172362" style="opacity:0" class="tab-button w-inline-block w-tab-link w--current">
							<div class="active-button"></div>
							<div class="paragraph-large tab-text">Country</div>
						</a>
						<a data-w-tab="Tab 2" data-w-id="30998f4f-8f0d-2e52-0af1-7fa6cf172365" style="opacity:0" class="tab-button w-inline-block w-tab-link">
							<div class="active-button"></div>
							<div class="paragraph-large tab-text">Camping</div>
						</a>
						<a data-w-tab="Tab 3" data-w-id="30998f4f-8f0d-2e52-0af1-7fa6cf172368" style="opacity:0" class="tab-button w-inline-block w-tab-link">
							<div class="active-button"></div>
							<div class="paragraph-large tab-text">adventure</div>
						</a>
						<a data-w-tab="Tab 4" data-w-id="5fc4dee6-2293-cc67-288e-8e68120e870d" style="opacity:0" class="tab-button w-inline-block w-tab-link">
							<div class="active-button"></div>
							<div class="paragraph-large tab-text">hiking</div>
						</a>
						<a data-w-tab="Tab 5" data-w-id="ce902bb2-a96e-c4cc-433e-3d957b5c9fbf" style="opacity:0" class="tab-button w-inline-block w-tab-link">
							<div class="active-button"></div>
							<div class="paragraph-large tab-text">group trip</div>
						</a>
					</div>
					<div class="tabs-content w-tab-content">
						<div data-w-tab="Tab 1" class="tab-detail-div w-tab-pane w--tab-active">
							<div class="w-layout-grid tour-packege">
								<div data-w-id="791930df-3faa-b237-65c7-e5b23f14dce9" style="opacity:0" class="tour-packege-div">
									<div class="tour-packege-card">
										<img
											sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, 97vw"
											srcset="~/images/country1-p-500.webp"
											alt="Country image"
											src="~/images/country1.webp"
											loading="lazy"
											class="tour-image"
										/>
										<div class="rating-div">
											<img loading="lazy" src="~/images/rating.png" alt="" class="rating-image" />
											<div class="rating-text">4.5</div>
										</div>
										<div class="packege-detail-div">
											<h3 class="h6-heading">Explore Culture</h3>
											<div class="packege-country-div">
												<div class="packege-country">
													<img loading="lazy" src="~/images/location.png" alt="" class="location-image" />
													<div class="paragraph country-name">India</div>
												</div>
												<div class="paragraph price-text">$250</div>
											</div>
										</div>
									</div>
								</div>
								<div id="w-node-_791930df-3faa-b237-65c7-e5b23f14dcfa-d46480dc" data-w-id="791930df-3faa-b237-65c7-e5b23f14dcfa" style="opacity:0" class="tour-packege-div">
									<div class="tour-packege-card">
										<img
											sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, 97vw"
											srcset="~/images/country2-p-500.webp,"
											alt="Country image"
											src="~/images/country2.webp"
											loading="lazy"
											class="tour-image"
										/>
										<div class="rating-div">
											<img loading="lazy" src="~/images/rating.png" alt="" class="rating-image" />
											<div class="rating-text">4.5</div>
										</div>
										<div class="packege-detail-div">
											<h3 class="h6-heading"><strong>Scenic Beauty</strong></h3>
											<div class="packege-country-div">
												<div class="packege-country">
													<img loading="lazy" src="~/images/location.png" alt="" class="location-image" />
													<div class="paragraph country-name">Japan</div>
												</div>
												<div class="paragraph price-text">$250</div>
											</div>
										</div>
									</div>
								</div>
								<div id="w-node-_791930df-3faa-b237-65c7-e5b23f14dd0b-d46480dc" data-w-id="791930df-3faa-b237-65c7-e5b23f14dd0b" style="opacity:0" class="tour-packege-div">
									<div class="tour-packege-card">
										<img
											sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, 97vw"
											srcset="~/images/country3-p-500.webp"
											alt="Country image"
											src="~/images/country3.webp"
											loading="lazy"
											class="tour-image"
										/>
										<div class="rating-div">
											<img loading="lazy" src="images/rating.png" alt="" class="rating-image" />
											<div class="rating-text">4.5</div>
										</div>
										<div class="packege-detail-div">
											<h3 class="h6-heading">Iconic Landmark</h3>
											<div class="packege-country-div">
												<div class="packege-country">
													<img loading="lazy" src="images/location.png" alt="" class="location-image" />
													<div class="paragraph country-name">London</div>
												</div>
												<div class="paragraph price-text">$250</div>
											</div>
										</div>
									</div>
								</div>
								<div id="w-node-_791930df-3faa-b237-65c7-e5b23f14dd1c-d46480dc" data-w-id="791930df-3faa-b237-65c7-e5b23f14dd1c" style="opacity:0" class="tour-packege-div">
									<div class="tour-packege-card">
										<img
											sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, 97vw"
											srcset="~/images/slider1-p-500.webp,"
											alt="Country image"
											src="images/slider1.webp"
											loading="lazy"
											class="tour-image"
										/>
										<div class="rating-div">
											<img loading="lazy" src="images/rating.png" alt="" class="rating-image" />
											<div class="rating-text">4.5</div>
										</div>
										<div class="packege-detail-div">
											<h3 class="h6-heading"><strong>Luxurious Lifestyle</strong></h3>
											<div class="packege-country-div">
												<div class="packege-country">
													<img loading="lazy" src="~/images/location.png" alt="" class="location-image" />
													<div class="paragraph country-name">Dubai</div>
												</div>
												<div class="paragraph price-text">$250</div>
											</div>
										</div>
									</div>
								</div>
								<div id="w-node-_791930df-3faa-b237-65c7-e5b23f14dd2d-d46480dc" data-w-id="791930df-3faa-b237-65c7-e5b23f14dd2d" style="opacity:0" class="tour-packege-div">
									<div class="tour-packege-card">
										<img
											sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, 97vw"
											srcset="~/images/country4-p-500.webp"
											alt="Country image"
											src="~/images/country4.webp"
											loading="lazy"
											class="tour-image"
										/>
										<div class="rating-div">
											<img loading="lazy" src="~/images/rating.png" alt="" class="rating-image" />
											<div class="rating-text">4.5</div>
										</div>
										<div class="packege-detail-div">
											<h3 class="h6-heading">Nature &amp; Adventure</h3>
											<div class="packege-country-div">
												<div class="packege-country">
													<img loading="lazy" src="~/images/location.png" alt="" class="location-image" />
													<div class="paragraph country-name">Singapore</div>
												</div>
												<div class="paragraph price-text">$250</div>
											</div>
										</div>
									</div>
								</div>
								<div id="w-node-_791930df-3faa-b237-65c7-e5b23f14dd3e-d46480dc" data-w-id="791930df-3faa-b237-65c7-e5b23f14dd3e" style="opacity:0" class="tour-packege-div">
									<div class="tour-packege-card">
										<img
											sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, 97vw"
											srcset="~/images/country5-p-500.webp"
											alt="Country image"
											src="~/images/country5.webp"
											loading="lazy"
											class="tour-image"
										/>
										<div class="rating-div">
											<img loading="lazy" src="images/rating.png" alt="" class="rating-image" />
											<div class="rating-text">4.5</div>
										</div>
										<div class="packege-detail-div">
											<h3 class="h6-heading"><strong>Culture &amp; History</strong></h3>
											<div class="packege-country-div">
												<div class="packege-country">
													<img loading="lazy" src="~/images/location.png" alt="" class="location-image" />
													<div class="paragraph country-name">USA</div>
												</div>
												<div class="paragraph price-text">$250</div>
											</div>
										</div>
									</div>
								</div>
								<div id="w-node-_791930df-3faa-b237-65c7-e5b23f14dd4f-d46480dc" data-w-id="791930df-3faa-b237-65c7-e5b23f14dd4f" style="opacity:0" class="tour-packege-div">
									<div class="tour-packege-card">
										<img
											sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, 97vw"
											srcset="~/images/country6-p-500.webp"
											alt="Country image"
											src="~/images/country6.webp"
											loading="lazy"
											class="tour-image"
										/>
										<div class="rating-div">
											<img loading="lazy" src="~/images/rating.png" alt="" class="rating-image" />
											<div class="rating-text">4.5</div>
										</div>
										<div class="packege-detail-div">
											<h3 class="h6-heading"><strong>Natural Beauty</strong></h3>
											<div class="packege-country-div">
												<div class="packege-country">
													<img loading="lazy" src="images/location.png" alt="" class="location-image" />
													<div class="paragraph country-name">Rome</div>
												</div>
												<div class="paragraph price-text">$250</div>
											</div>
										</div>
									</div>
								</div>
								<div id="w-node-_791930df-3faa-b237-65c7-e5b23f14dd60-d46480dc" data-w-id="791930df-3faa-b237-65c7-e5b23f14dd60" style="opacity:0" class="tour-packege-div">
									<div class="tour-packege-card">
										<img
											sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, 97vw"
											srcset="~/images/country7-p-500.webp"
											alt="Country image"
											src="~/images/country7.webp"
											loading="lazy"
											class="tour-image"
										/>
										<div class="rating-div">
											<img loading="lazy" src="~/images/rating.png" alt="" class="rating-image" />
											<div class="rating-text">4.5</div>
										</div>
										<div class="packege-detail-div">
											<h3 class="h6-heading">Luxury Travel</h3>
											<div class="packege-country-div">
												<div class="packege-country">
													<img loading="lazy" src="~/images/location.png" alt="" class="location-image" />
													<div class="paragraph country-name">Paris</div>
												</div>
												<div class="paragraph price-text">$250</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div data-w-tab="Tab 2" class="tab-detail-div w-tab-pane">
							<div class="w-layout-grid tour-packege">
								<div class="tour-packege-div">
									<div class="tour-packege-card">
										<img
											sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, 97vw"
											srcset="~/images/camp1-p-500.webp"
											alt="Country image"
											src="~/images/camp1.webp"
											loading="lazy"
											class="tour-image"
										/>
										<div class="rating-div">
											<img loading="lazy" src="~/images/rating.png" alt="" class="rating-image" />
											<div class="rating-text">4.5</div>
										</div>
										<div class="packege-detail-div">
											<h3 class="h6-heading">Overnight Camping</h3>
											<div class="packege-country-div">
												<div class="packege-country">
													<img loading="lazy" src="~/images/location.png" alt="" class="location-image" />
													<div class="paragraph country-name">India</div>
												</div>
												<div class="paragraph price-text">$250</div>
											</div>
										</div>
									</div>
								</div>
								<div id="w-node-f386d2fc-b03a-9740-fded-1c4be7345ec3-d46480dc" class="tour-packege-div">
									<div class="tour-packege-card">
										<img
											sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, 97vw"
											srcset="~/images/camp2-p-500.webp"
											alt="Country image"
											src="images/camp2.webp"
											loading="lazy"
											class="tour-image"
										/>
										<div class="rating-div">
											<img loading="lazy" src="~/images/rating.png" alt="" class="rating-image" />
											<div class="rating-text">4.5</div>
										</div>
										<div class="packege-detail-div">
											<h3 class="h6-heading">Night Tent</h3>
											<div class="packege-country-div">
												<div class="packege-country">
													<img loading="lazy" src="~/images/location.png" alt="" class="location-image" />
													<div class="paragraph country-name">Thailand</div>
												</div>
												<div class="paragraph price-text">$250</div>
											</div>
										</div>
									</div>
								</div>
								<div id="w-node-_382e06d3-c29a-8bcd-19f5-7838b234476d-d46480dc" class="tour-packege-div">
									<div class="tour-packege-card">
										<img
											sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, 97vw"
											srcset="~/images/camp3-p-500.webp"
											alt="Country image"
											src="~/images/camp3.webp"
											loading="lazy"
											class="tour-image"
										/>
										<div class="rating-div">
											<img loading="lazy" src="~/images/rating.png" alt="" class="rating-image" />
											<div class="rating-text">4.5</div>
										</div>
										<div class="packege-detail-div">
											<h3 class="h6-heading">Nature Camp</h3>
											<div class="packege-country-div">
												<div class="packege-country">
													<img loading="lazy" src="~/images/location.png" alt="" class="location-image" />
													<div class="paragraph country-name">London</div>
												</div>
												<div class="paragraph price-text">$250</div>
											</div>
										</div>
									</div>
								</div>
								<div id="w-node-_7e29b21a-271d-fdf4-646f-c9749153f119-d46480dc" class="tour-packege-div">
									<div class="tour-packege-card">
										<img
											sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, 97vw"
											srcset="~/images/camp4-p-500.webp"
											alt="Country image"
											src="images/camp4.webp"
											loading="lazy"
											class="tour-image"
										/>
										<div class="rating-div">
											<img loading="lazy" src="~/images/rating.png" alt="" class="rating-image" />
											<div class="rating-text">4.5</div>
										</div>
										<div class="packege-detail-div">
											<h3 class="h6-heading">Tent Trip</h3>
											<div class="packege-country-div">
												<div class="packege-country">
													<img loading="lazy" src="~/images/location.png" alt="" class="location-image" />
													<div class="paragraph country-name">Dubai</div>
												</div>
												<div class="paragraph price-text">$250</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div data-w-tab="Tab 3" class="tab-detail-div w-tab-pane">
							<div class="w-layout-grid tour-packege">
								<div class="tour-packege-div">
									<div class="tour-packege-card">
										<img
											sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, 97vw"
											srcset="~/images/adventure1-p-500.webp"
											alt="Country image"
											src="images/adventure1.webp"
											loading="lazy"
											class="tour-image"
										/>
										<div class="rating-div">
											<img loading="lazy" src="~/images/rating.png" alt="" class="rating-image" />
											<div class="rating-text">4.5</div>
										</div>
										<div class="packege-detail-div">
											<h3 class="h6-heading">Sky Diving</h3>
											<div class="packege-country-div">
												<div class="packege-country">
													<img loading="lazy" src="~/images/location.png" alt="" class="location-image" />
													<div class="paragraph country-name">India</div>
												</div>
												<div class="paragraph price-text">$250</div>
											</div>
										</div>
									</div>
								</div>
								<div id="w-node-_66eca3c1-ea5b-bd05-5ea3-c556d1f3908c-d46480dc" class="tour-packege-div">
									<div class="tour-packege-card">
										<img
											sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, 97vw"
											srcset="~/images/adventure2-p-500.webp"
											alt="Country image"
											src="images/adventure2.webp"
											loading="lazy"
											class="tour-image"
										/>
										<div class="rating-div">
											<img loading="lazy" src="~/images/rating.png" alt="" class="rating-image" />
											<div class="rating-text">4.5</div>
										</div>
										<div class="packege-detail-div">
											<h3 class="h6-heading">Theme Park</h3>
											<div class="packege-country-div">
												<div class="packege-country">
													<img loading="lazy" src="~/images/location.png" alt="" class="location-image" />
													<div class="paragraph country-name">Thailand</div>
												</div>
												<div class="paragraph price-text">$250</div>
											</div>
										</div>
									</div>
								</div>
								<div id="w-node-_66eca3c1-ea5b-bd05-5ea3-c556d1f3909d-d46480dc" class="tour-packege-div">
									<div class="tour-packege-card">
										<img
											sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, 97vw"
											srcset="~/images/adventure4-p-500.webp"
											alt="Country image"
											src="images/adventure4.webp"
											loading="lazy"
											class="tour-image"
										/>
										<div class="rating-div">
											<img loading="lazy" src="~/images/rating.png" alt="" class="rating-image" />
											<div class="rating-text">4.5</div>
										</div>
										<div class="packege-detail-div">
											<h3 class="h6-heading">skating</h3>
											<div class="packege-country-div">
												<div class="packege-country">
													<img loading="lazy" src="~/images/location.png" alt="" class="location-image" />
													<div class="paragraph country-name">London</div>
												</div>
												<div class="paragraph price-text">$250</div>
											</div>
										</div>
									</div>
								</div>
								<div id="w-node-_66eca3c1-ea5b-bd05-5ea3-c556d1f390ae-d46480dc" class="tour-packege-div">
									<div class="tour-packege-card">
										<img
											sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, 97vw"
											srcset="~/images/adventure3-p-500.webp"
											alt="Country image"
											src="~/images/adventure3.webp"
											loading="lazy"
											class="tour-image"
										/>
										<div class="rating-div">
											<img loading="lazy" src="~/images/rating.png" alt="" class="rating-image" />
											<div class="rating-text">4.5</div>
										</div>
										<div class="packege-detail-div">
											<h3 class="h6-heading">Paragliding</h3>
											<div class="packege-country-div">
												<div class="packege-country">
													<img loading="lazy" src="~/images/location.png" alt="" class="location-image" />
													<div class="paragraph country-name">Dubai</div>
												</div>
												<div class="paragraph price-text">$250</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div data-w-tab="Tab 4" class="tab-detail-div w-tab-pane">
							<div class="w-layout-grid tour-packege">
								<div class="tour-packege-div">
									<div class="tour-packege-card">
										<img
											sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, 97vw"
											srcset="~/images/hiking2-p-500.webp"
											alt="Country image"
											src="~/images/hiking2.webp"
											loading="lazy"
											class="tour-image"
										/>
										<div class="rating-div">
											<img loading="lazy" src="images/rating.png" alt="" class="rating-image" />
											<div class="rating-text">4.5</div>
										</div>
										<div class="packege-detail-div">
											<h3 class="h6-heading">Hiking</h3>
											<div class="packege-country-div">
												<div class="packege-country">
													<img loading="lazy" src="~/images/location.png" alt="" class="location-image" />
													<div class="paragraph country-name">India</div>
												</div>
												<div class="paragraph price-text">$250</div>
											</div>
										</div>
									</div>
								</div>
								<div id="w-node-_778f4776-6088-e4b3-ce25-d21da4448486-d46480dc" class="tour-packege-div">
									<div class="tour-packege-card">
										<img
											sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, 97vw"
											srcset="~/images/hiking4-p-500.webp"
											alt="Country image"
											src="~/images/hiking4.webp"
											loading="lazy"
											class="tour-image"
										/>
										<div class="rating-div">
											<img loading="lazy" src="~/images/rating.png" alt="" class="rating-image" />
											<div class="rating-text">4.5</div>
										</div>
										<div class="packege-detail-div">
											<h3 class="h6-heading">Journey on foot</h3>
											<div class="packege-country-div">
												<div class="packege-country">
													<img loading="lazy" src="images/location.png" alt="" class="location-image" />
													<div class="paragraph country-name">London</div>
												</div>
												<div class="paragraph price-text">$250</div>
											</div>
										</div>
									</div>
								</div>
								<div id="w-node-_778f4776-6088-e4b3-ce25-d21da44484b9-d46480dc" class="tour-packege-div">
									<div class="tour-packege-card">
										<img
											sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, 97vw"
											srcset="~/images/hiking3-p-500.webp"
											alt="Country image"
											src="images/hiking3.webp"
											loading="lazy"
											class="tour-image"
										/>
										<div class="rating-div">
											<img loading="lazy" src="~/images/rating.png" alt="" class="rating-image" />
											<div class="rating-text">4.5</div>
										</div>
										<div class="packege-detail-div">
											<h3 class="h6-heading">Hiking</h3>
											<div class="packege-country-div">
												<div class="packege-country">
													<img loading="lazy" src="~/images/location.png" alt="" class="location-image" />
													<div class="paragraph country-name">Paris</div>
												</div>
												<div class="paragraph price-text">$250</div>
											</div>
										</div>
									</div>
								</div>
								<div id="w-node-_778f4776-6088-e4b3-ce25-d21da44484db-d46480dc" class="tour-packege-div">
									<div class="tour-packege-card">
										<img
											sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, 97vw"
											srcset="~/images/hiking1-p-500.webp"
											alt="Country image"
											src="~/images/hiking1.webp"
											loading="lazy"
											class="tour-image"
										/>
										<div class="rating-div">
											<img loading="lazy" src="images/rating.png" alt="" class="rating-image" />
											<div class="rating-text">4.5</div>
										</div>
										<div class="packege-detail-div">
											<h3 class="h6-heading">Journey on foot</h3>
											<div class="packege-country-div">
												<div class="packege-country">
													<img loading="lazy" src="images/location.png" alt="" class="location-image" />
													<div class="paragraph country-name">India</div>
												</div>
												<div class="paragraph price-text">$250</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div data-w-tab="Tab 5" class="tab-detail-div w-tab-pane">
							<div class="w-layout-grid tour-packege">
								<div id="w-node-_55563de0-eef0-126b-e1c1-2de297622df9-d46480dc" class="tour-packege-div">
									<div class="tour-packege-card">
										<img
											sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, 97vw"
											srcset="~/images/group-trip2-p-500.webp"
											alt="Country image"
											src="~/images/group-trip2.webp"
											loading="lazy"
											class="tour-image"
										/>
										<div class="rating-div">
											<img loading="lazy" src="~/images/rating.png" alt="" class="rating-image" />
											<div class="rating-text">4.5</div>
										</div>
										<div class="packege-detail-div">
											<h3 class="h6-heading">Walking Tour</h3>
											<div class="packege-country-div">
												<div class="packege-country">
													<img loading="lazy" src="~/images/location.png" alt="" class="location-image" />
													<div class="paragraph country-name">India</div>
												</div>
												<div class="paragraph price-text">$250</div>
											</div>
										</div>
									</div>
								</div>
								<div id="w-node-_55563de0-eef0-126b-e1c1-2de297622e0a-d46480dc" class="tour-packege-div">
									<div class="tour-packege-card">
										<img
											sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, 97vw"
											srcset="~/images/group-trip1-p-500.webp"
											alt="Country image"
											src="~/images/group-trip1.webp"
											loading="lazy"
											class="tour-image"
										/>
										<div class="rating-div">
											<img loading="lazy" src="~/images/rating.png" alt="" class="rating-image" />
											<div class="rating-text">4.5</div>
										</div>
										<div class="packege-detail-div">
											<h3 class="h6-heading">Walking Tour</h3>
											<div class="packege-country-div">
												<div class="packege-country">
													<img loading="lazy" src="~/images/location.png" alt="" class="location-image" />
													<div class="paragraph country-name">London</div>
												</div>
												<div class="paragraph price-text">$250</div>
											</div>
										</div>
									</div>
								</div>
								<div id="w-node-_55563de0-eef0-126b-e1c1-2de297622e1b-d46480dc" class="tour-packege-div">
									<div class="tour-packege-card">
										<img
											sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, 97vw"
											srcset="~/images/group-trip3-p-500.webp"
											alt="Country image"
											src="~/images/group-trip3.webp"
											loading="lazy"
											class="tour-image"
										/>
										<div class="rating-div">
											<img loading="lazy" src="~/images/rating.png" alt="" class="rating-image" />
											<div class="rating-text">4.5</div>
										</div>
										<div class="packege-detail-div">
											<h3 class="h6-heading">Water Rafting</h3>
											<div class="packege-country-div">
												<div class="packege-country">
													<img loading="lazy" src="~/images/location.png" alt="" class="location-image" />
													<div class="paragraph country-name">Kitulgala</div>
												</div>
												<div class="paragraph price-text">$250</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
