

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Accept</title>
</head>
<body>
    <h1>Registrahion accept</h1>
    <h1>Thanks @Model.Name for registration</h1>
    @*HTML-хелперы *@
    <a asp-controller="Home" asp-action="HomePage">Go to gome page</a>
</body>
</html>
