@model WebApplication1.Models.LoginModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Вход в аккаунт</title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="reg-form">
        <h1 class="title-reg">Вход</h1>

        <form asp-action="Login" asp-controller="RegistrationUser" method="post">

            <label asp-for="Email"></label>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>

            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>

            <input type="submit" value="Войти" class="btn-reg" />

            <a asp-controller="RegistrationUser" asp-action="Registration">Регистрация</a>

        </form>
    </div>
</body>
</html>