@model UserRegistrationModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="reg-form">
        <h1 class="title-reg">Регистрация</h1>
        <form asp-action="Registration" asp-controller="RegistrationUser" method="post">

            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>

            <label asp-for="Email"></label>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>

            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>

            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>

            <label asp-for="Age"></label>
            <input asp-for="Age" />
            <span asp-validation-for="Age"></span>
            <div class="form-group my-3">
                <div class="form-check">
                     
                    <input asp-for="isAgree" class="form-check-input" />

                   
                    <label class="form-check-label" for="isAgree">

                        
                        @Html.DisplayNameFor(m => m.isAgree)

                    
                        <a href="~/pdf/3692.pdf" target="_blank" class="text-blue-600 hover:underline">
                            пользовательского соглашения
                        </a>

                    </label>

              
                    <span asp-validation-for="isAgree" class="text-danger d-block"></span>
                </div>
            </div>
             

            <input type="submit" value="Registration" class="btn-reg" />
            <a asp-controller="RegistrationUser" asp-action="Login">Войти</a>
        </form>
    </div>
</body>
</html>