body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center; /* центр по горизонтали */
    align-items: center; /* центр по вертикали */
    background: #f5f5f5;
    font-family: sans-serif;
}

.reg-form {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 350px;
}

input {
    width: 100%;
    margin-bottom: 12px;
    padding: 8px;
}

.btn-reg {
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background: #0B63F6;
    box-shadow: 0 5px 0 #003CC5;
}

.btn-reg:hover {
        background: #003CC5;
        box-shadow: none;
        position: relative;
        top: 5px;
    }