<!DOCTYPE html>
<!-- Handled by Exflow.site -->
<html data-wf-page="666001600530be8dd46480dc" data-wf-site="666001600530be8dd46480e1">
<body class="body">
    <section id="home" class="hero-section">
        <div class="w-layout-blockcontainer container w-container">
            <div class="row w-row">
                <div data-w-id="23db4d1e-abdf-853a-bba3-b266bd1126f9" style="opacity:0" class="col w-col w-col-7 w-col-medium-6">
                    <h1 class="h1-heading">Туры, путешествия и,<span class="text-span">приключенческий </span> кемпинг</h1>
                    <p class="paragraph-large paragraph-white">Lorem Ipsum — это просто фиктивный текст, используемый в типографской и наборной индустрии..</p>
                </div>

                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="destination-section-shadow"></div>
        <div class="w-layout-blockcontainer container w-container">
            <h2 data-w-id="91902e1c-8f4c-53f3-b5b6-6bbf32342b38" style="opacity:0" class="h2-heading">Популярное направление</h2>
            <div data-delay="4000"
                 data-animation="slide"
                 class="team-slider-wrapper w-slider"
                 data-autoplay="false"
                 data-easing="ease-in"
                 style="opacity:0"
                 data-hide-arrows="false"
                 data-disable-swipe="false"
                 data-w-id="3821a5a0-8d27-56c2-4c4b-baf9a1ed5f86"
                 data-autoplay-limit="0"
                 data-nav-spacing="6"
                 data-duration="500"
                 data-infinite="true">
                <div class="mask w-slider-mask">
                    <div class="destination-div w-slide">
                        <div data-w-id="2db258c9-ff9a-9e8c-d1df-89504cfa1bc3" style="opacity:0" class="destination-card">
                            <img src="images/slider4.webp"
                                 loading="lazy"
                                 sizes="(max-width: 479px) 100vw, (max-width: 767px) 45vw, (max-width: 991px) 46vw, 19vw"
                                 srcset="images/slider4-p-500.webp 500w, images/slider4-p-800.webp 800w, images/slider4-p-1080.webp 1080w, images/slider4.webp 1148w"
                                 alt="London"
                                 class="destination-image" />
                            <div class="image-overlay"></div>
                            <h3 class="h4-heading destination-heading">Лондон</h3>
                        </div>
                    </div>
                    <div class="destination-div w-slide">
                        <div data-w-id="903811b9-d9d4-87e3-3ea2-5b47eb1a7dc2" style="opacity:0" class="destination-card">
                            <img src="images/slider2.webp"
                                 loading="lazy"
                                 sizes="(max-width: 479px) 100vw, (max-width: 767px) 45vw, (max-width: 991px) 46vw, 19vw"
                                 srcset="images/slider2-p-500.webp 500w, images/slider2-p-800.webp 800w, images/slider2-p-1080.webp 1080w, images/slider2.webp 1148w"
                                 alt="London"
                                 class="destination-image" />
                            <div class="image-overlay"></div>
                            <h3 class="h4-heading destination-heading">Таиланд</h3>
                        </div>
                    </div>
                    <div class="destination-div w-slide">
                        <div data-w-id="037cce3b-0d2d-82c0-b6f8-387e613b0a3e" style="opacity:0" class="destination-card">
                            <img src="images/slider6.webp"
                                 loading="lazy"
                                 sizes="(max-width: 479px) 100vw, (max-width: 767px) 45vw, (max-width: 991px) 46vw, 19vw"
                                 srcset="images/slider6-p-500.webp 500w, images/slider6-p-800.webp 800w, images/slider6-p-1080.webp 1080w, images/slider6.webp 1148w"
                                 alt="London"
                                 class="destination-image" />
                            <div class="image-overlay"></div>
                            <h3 class="h4-heading destination-heading">Сингапур</h3>
                        </div>
                    </div>
                    <div class="destination-div w-slide">
                        <div data-w-id="c6fbbdc5-de29-70b4-9990-aa3f5655b37a" style="opacity:0" class="destination-card">
                            <img src="images/slider3.webp"
                                 loading="lazy"
                                 sizes="(max-width: 479px) 100vw, (max-width: 767px) 45vw, (max-width: 991px) 46vw, 19vw"
                                 srcset="images/slider3-p-500.webp 500w, images/slider3-p-800.webp 800w, images/slider3-p-1080.webp 1080w, images/slider3.webp 1148w"
                                 alt="London"
                                 class="destination-image" />
                            <div class="image-overlay"></div>
                            <h3 class="h4-heading destination-heading">Индия</h3>
                        </div>
                    </div>
                    <div class="destination-div w-slide">
                        <div data-w-id="7889a785-3e2b-9483-42cb-e62de739e382" style="opacity:0" class="destination-card">
                            <img src="images/slider1.webp"
                                 loading="lazy"
                                 sizes="(max-width: 479px) 100vw, (max-width: 767px) 45vw, (max-width: 991px) 46vw, 19vw"
                                 srcset="images/slider1-p-500.webp 500w, images/slider1-p-800.webp 800w, images/slider1-p-1080.webp 1080w, images/slider1.webp 1148w"
                                 alt="London"
                                 class="destination-image" />
                            <div class="image-overlay"></div>
                            <h3 class="h4-heading destination-heading">Дубай</h3>
                        </div>
                    </div>
                    <div class="destination-div w-slide">
                        <div class="destination-card">
                            <img src="images/slider5.webp"
                                 loading="lazy"
                                 sizes="(max-width: 479px) 100vw, (max-width: 767px) 45vw, (max-width: 991px) 46vw, 19vw"
                                 srcset="images/slider5-p-500.webp 500w, images/slider5-p-800.webp 800w, images/slider5-p-1080.webp 1080w, images/slider5.webp 1148w"
                                 alt="London"
                                 class="destination-image" />
                            <div class="image-overlay"></div>
                            <h1 class="h4-heading destination-heading">Париж</h1>
                        </div>
                    </div>
                    <div class="destination-div w-slide">
                        <div class="destination-card">
                            <img src="images/slider4.webp"
                                 loading="lazy"
                                 sizes="(max-width: 479px) 100vw, (max-width: 767px) 45vw, (max-width: 991px) 46vw, 19vw"
                                 srcset="images/slider4-p-500.webp 500w, images/slider4-p-800.webp 800w, images/slider4-p-1080.webp 1080w, images/slider4.webp 1148w"
                                 alt="London"
                                 class="destination-image" />
                            <div class="image-overlay"></div>
                            <h1 class="h4-heading destination-heading">London</h1>
                        </div>
                    </div>
                    <div class="destination-div w-slide">
                        <div class="destination-card">
                            <img src="images/slider2.webp"
                                 loading="lazy"
                                 sizes="(max-width: 479px) 100vw, (max-width: 767px) 45vw, (max-width: 991px) 46vw, 19vw"
                                 srcset="images/slider2-p-500.webp 500w, images/slider2-p-800.webp 800w, images/slider2-p-1080.webp 1080w, images/slider2.webp 1148w"
                                 alt="London"
                                 class="destination-image" />
                            <div class="image-overlay"></div>
                            <h1 class="h4-heading destination-heading">Thailand</h1>
                        </div>
                    </div>
                    <div class="destination-div w-slide">
                        <div class="destination-card">
                            <img src="images/slider3.webp"
                                 loading="lazy"
                                 sizes="(max-width: 479px) 100vw, (max-width: 767px) 45vw, (max-width: 991px) 46vw, 19vw"
                                 srcset="images/slider3-p-500.webp 500w, images/slider3-p-800.webp 800w, images/slider3-p-1080.webp 1080w, images/slider3.webp 1148w"
                                 alt="London"
                                 class="destination-image" />
                            <div class="image-overlay"></div>
                            <h1 class="h4-heading destination-heading">India</h1>
                        </div>
                    </div>
                    <div class="destination-div w-slide">
                        <div class="destination-card">
                            <img src="images/slider1.webp"
                                 loading="lazy"
                                 sizes="(max-width: 479px) 100vw, (max-width: 767px) 45vw, (max-width: 991px) 46vw, 19vw"
                                 srcset="images/slider1-p-500.webp 500w, images/slider1-p-800.webp 800w, images/slider1-p-1080.webp 1080w, images/slider1.webp 1148w"
                                 alt="London"
                                 class="destination-image" />
                            <div class="image-overlay"></div>
                            <h1 class="h4-heading destination-heading">Dubai</h1>
                        </div>
                    </div>
                </div>
                <div class="team-slider-arrow w-slider-arrow-left"><img src="images/arrow-left.png" loading="lazy" alt="arrow icon" class="arrow-image" /></div>
                <div class="team-slider-arrow arrow-right w-slider-arrow-right"><img src="images/arrow-right.png" loading="lazy" alt="arrow icon" /></div>
                <div class="team-slider-nav w-slider-nav"></div>
            </div>
        </div>
    </section>
    <section id="contact-us" class="section">
        <div class="w-layout-blockcontainer container w-container">
            <h2 data-w-id="ca2f629b-d826-a1f9-d153-6130f2d8df78" style="opacity:0" class="h2-heading heading-center">Давайте вместе создадим потрясающий опыт путешествий</h2>
            <div data-w-id="16653d7a-20c5-2ac5-83de-b5ced78849dc" style="opacity:0" class="contact-card-div">
                <img src="images/square-box.png"
                     loading="lazy"
                     sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, (max-width: 991px) 78vw, 68vw"
                     srcset="images/square-box-p-500.png 500w, images/square-box-p-800.png 800w, images/square-box.png 1004w"
                     alt="background line boxs image"
                     class="contact-bg-image" />
                <div class="contact-card">
                    <div class="contact-section-shadow-right"></div>
                    <div class="contact-section-shadow-right left"></div>
                    <div class="w-form">
                        <form id="email-form-2" name="email-form-2" data-name="Email Form 2" method="get" data-wf-page-id="666001600530be8dd46480dc" data-wf-element-id="e3f9524c-94f3-579d-c026-4a98c5d2c733">
                            <div class="w-layout-grid contact-form">
                                <div class="contact-div">
                                    <label for="Name-2" class="contact-label">Name</label><input class="contact-input w-input" maxlength="256" name="Name" data-name="Name" placeholder="Enter your name" type="text" id="Name-2" />
                                </div>
                                <div id="w-node-f99be998-004d-92d1-76f8-c01193e6ddc8-d46480dc" class="contact-div">
                                    <label for="Email-2" class="contact-label">Email</label>
                                    <input class="contact-input w-input" maxlength="256" name="Email" data-name="Email" placeholder="Enter your email" type="email" id="Email-2" required="" />
                                </div>
                                <div id="w-node-_06091d98-1329-4ecd-f36d-730f81ea6622-d46480dc" class="contact-div">
                                    <label for="Number" class="contact-label">Mobile Number</label>
                                    <input class="contact-input w-input" maxlength="256" name="Number" data-name="Number" placeholder="Enter your number" type="tel" id="Number" required="" />
                                </div>
                                <div id="w-node-ec505596-7888-afdd-dd92-1086fb4bf6ff-d46480dc" class="contact-div">
                                    <label for="Country" class="contact-label">Country</label>
                                    <input class="contact-input w-input" maxlength="256" name="Country" data-name="Country" placeholder="Enter your country" type="text" id="Country" />
                                </div>
                            </div>
                            <label for="text-Area" class="contact-label text-area-label">Message</label>
                            <textarea placeholder="Enter your message" maxlength="5000" id="textArea" name="textArea" data-name="textArea" class="contact-input text-area-field w-input"></textarea>
                            <input type="submit" data-wait="Please wait..." class="common-button w-button" value="Send  Message" />
                        </form>
                        <div class="success-message w-form-done"><div class="success-message-text">Thank you! Your submission has been received!</div></div>
                        <div class="error-message w-form-fail"><div class="error-message-text">Oops! Something went wrong while submitting the form.</div></div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>
</html>
